asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.6
django-bootstrap-v5==1.0.11
django-ckeditor==6.7.0
django-js-asset==2.1.0
django-taggit==4.0.0
idna==3.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
Pillow==10.1.0
PyMySQL==1.1.0
pyproject-toml==0.0.10
referencing==0.32.0
requests==2.31.0
rpds-py==0.13.2
setuptools==68.2.2
soupsieve==2.5
sqlparse==0.4.4
toml==0.10.2
tzdata==2023.3
urllib3==2.0.6
wheel==0.42.0
